<h1>Welcome there!, <%= @name %></h1>

<p>
  <%= @whoname %>

</p>

Verify your account by clicking on <%= link_to "this link", check_customer_url(@token) %>

<%= link_to "Log In", admin_login_url %>
