<h1>Customers</h1>
<% if flash[:notice].present? %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @customer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>
